
@{ 
    List<category> categories = new List<category>();
    using (ecommercecontext ecommercecontext = new ecommercecontext())
    {
        categories = ecommercecontext.categories.ToList();
    }
   
}
<p>
    @{
        foreach (category category in categories)
        {
            <span><a href="@Url.Action("Index","Category",new { id = category.Id })">@category.Name</a></span><text>|</text>
        }

    }
</p>